

.player1 {
	background-color: #4d8cff;
	padding: 10px;
	display: inline-block;
	border-radius: 12px;
}

.player2 {
	background-color: #ffc04d;
	padding: 10px;
	display: inline-block;
	border-radius: 12px;
}

.bg-1 {
	background-color: #4dffc0;
	border-radius: 12px;
	border-top: 2px solid black;
}